@media only screen and (max-width: 600px) {
  .dashboard {
    width: 400px;
  }
  .footer-welcome {
    display: none;
  }
  .hideSaveNaminM {
    display: none;
  }

  .quiz-container {
    position: relative;
    width: 400px;
    border-radius: 4px;
    margin-top: 15px;
    padding: 30px 40px;
    box-sizing: border-box;

    .noOFQ {
      text-align: start;
    }
    .active-question-no {
      font-size: 1.75rem;
      font-weight: 600;
      color: rgb(255, 255, 255);
    }

    .total-question {
      font-size: 1.35rem;
      font-weight: 500;
      color: rgb(255, 255, 255);
    }

    h2 {
      font-size: 18px;
      text-align: start;
      font-weight: 500;
      padding: 1rem 0 0.45rem 0;
    }

    ul {
      margin-top: 0px 0 0 -0px;
      li {
        text-decoration: none;
        text-align: start;
        list-style: none;
        color: white;
        font-size: 15px;
        border-radius: 16px;
        padding: 4.5px;
        margin-top: 10px;
        cursor: pointer;
        border: 3.75px solid #234668;
      }
      .selected-answer {
        background: rgb(131, 5, 189);
        // border: 2.5px solid #234668;
      }
      .correct-answer {
        background: #2ebe02;
      }
    }
  }

  .hideit-dummydiv,
  .prev-score,
  .curr-score,
  .answer-wr-cr-status,
  .stats .wrong-ans-score,
  .crr-ans-score,
  .stats,
  .wrong-ans-score,
  .greeting {
    display: none;
  }

  .footer-timer {
    margin-left: -9.5rem;
    font-size: 20px;
  }
  .footer-timer-dur {
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .dashboard {
    width: 300px;
  }
  .footer-welcome {
    display: none;
  }

  .quiz-container {
    position: relative;
    width: 310px;
    border-radius: 4px;
    margin-top: 15px;
    padding: 20px 20px;
    box-sizing: border-box;
  }
}
