// $primary: #0244be;
$primary: #8a8d85;
$accent: #f3dfb4;
$bg: #f0dfcf;
$bg-accent: #e7e9e7;
$disabled: rgb(0, 86, 167);
$foreground: #000000;

.quiz-container {
  width: 700px;
  background: $bg;
  border-radius: 4px;
  margin-top: 100px;
  padding: 30px 60px;
  box-sizing: border-box;
  background: linear-gradient(0deg, $primary 0.03%, $accent);

  .active-question-no {
    font-size: 3rem;
    font-weight: 600;
    color: black;
  }

  .total-question {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(26, 24, 31);
  }

  h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    padding: 4rem 0 0.5rem 0;
  }

  ul {
    margin-top: 20px 0 0 -40px;
    li {
      text-decoration: none;
      list-style: none;
      color: $foreground;
      font-size: 16px;
      background: $bg;
      border: 1px solid $disabled;
      border-radius: 16px;
      padding: 11px;
      margin-top: 15px;
      cursor: pointer;
    }
    .selected-answer {
      background: $primary;
      border: 1px solid $accent;
      color: $bg;
    }
    .correct-answer {
      background: #2ebe02;
    }
  }

  .footer {
    display: flex;

    justify-content: flex-end;
  }
  .nextQuestionBtn,
  .tryAgainBtn {
    background: #2ebe02;
    border-radius: 9px;
    font-weight: 550;
    font-size: 18px;
    color: $bg;
    padding: 10px 42px;
    outline: none;
    border: none;
    margin-top: 15px;
    cursor: pointer;

    &:disabled {
      background: $bg-accent;
      color: $disabled;
      cursor: not-allowed;
    }
  }
  .tryAgainBtn {
    background: rgb(177, 1, 1);
  }
  .result {
    text-align: center;

    h3 {
      font-size: 24px;
      letter-spacing: 1.4px;
      text-align: center;
    }
    p {
      font-weight: 500;
      font-size: 15px;
    }
    span {
      color: $primary;
      font-size: 22px;
    }
  }
}

.crrAnsStatus {
  color: #2ebe02;
}
.wrongAnsStatus {
  color: red;
}

.user-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.wrong-ans-score {
  margin-top: 15px;
  margin-bottom: -5px;
}
.crr-ans-score {
  margin-bottom: -7px;
}
.curr-score {
  position: relative;
  left: 80%;
  margin-top: -17px;
}
// -14px
.prev-score {
  position: relative;
  left: 84%;
  margin-top: -57px;
}
// -43
.diff-lvl-score {
  display: none;
}
.greeting {
  margin-bottom: 20px;
  color: #db1313;
}
.greeting-user-name {
  color: #25241b;
}
