// $primary: #0244be;
$primary: #8a8d85;
$accent: #dfb8b8;
$bg: #f0dfcf;
$bg-accent: #e7e9e7;
$disabled: rgb(0, 86, 167);
$foreground: #000000;

.quiz-container {
  width: 700px;
  background-color: #252d4a;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 4px;
  margin-top: 15px;
  padding: 30px 60px;
  box-sizing: border-box;
  // background: linear-gradient(0deg, $primary 0.03%, $accent);
  .noOFQ {
    text-align: center;
  }
  .active-question-no {
    font-size: 1.75rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }

  .total-question {
    font-size: 1.35rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }

  h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    padding: 4rem 0 0.5rem 0;
  }

  ul {
    margin-top: 20px 0 0 -40px;
    li {
      text-decoration: none;
      list-style: none;
      color: white;
      font-size: 16px;
      border-radius: 16px;
      padding: 11px;
      margin-top: 15px;
      cursor: pointer;
      border: 5px solid #234668;
    }
    .selected-answer {
      background: rgb(131, 5, 189);
      // border: 2.5px solid #234668;
      color: $bg;
    }
    .correct-answer {
      background: #2ebe02;
    }
  }

  .footer {
    display: flex;

    justify-content: flex-end;
  }
  .nextQuestionBtn,
  .tryAgainBtn {
    background: #2ebe02;
    border-radius: 9px;
    font-weight: 550;
    font-size: 18px;
    color: $bg;
    padding: 10px 42px;
    outline: none;
    border: none;
    margin-top: 15px;
    cursor: pointer;

    &:disabled {
      background: $bg-accent;
      color: $disabled;
      cursor: not-allowed;
    }
  }
  .tryAgainBtn {
    background: rgb(177, 1, 1);
  }
  .result {
    text-align: center;

    h3 {
      font-size: 24px;
      letter-spacing: 1.4px;
      text-align: center;
    }
    p {
      font-weight: 500;
      font-size: 15px;
    }
    span {
      color: $primary;
      font-size: 22px;
    }
  }
}
.default-styles-showLvlStatusBtn {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: -10px;
  margin-bottom: 0;
}

.answer-wr-cr-status {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: -36px;
  margin-bottom: 0;
}
// .displayDiffLvlToUser {
//   margin-top: 5px;
// }
.crrAnsStatus {
  color: #2ebe02;
}
.wrongAnsStatus {
  color: red;
}

.user-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.wrong-ans-score {
  margin-top: 15px;
  margin-bottom: -5px;
}
.crr-ans-score {
  margin-bottom: -7px;
}
.curr-score {
  position: relative;
  left: 80%;
  margin-top: -17px;
}
// -14px
.prev-score {
  position: relative;
  left: 80%;
  margin-top: -57px;
}
// -43
.diff-lvl-score {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-self: flex-start;
  text-align: left;
}
.greeting {
  margin-bottom: 35px;
  color: #db1313;
}
.greeting-user-name {
  color: #25241b;
}
.result-crr {
  color: rgb(185, 0, 0);
}
.result-wrong {
  color: #186800;
}
.current-score {
}
.highest-score {
  color: #2ebe02;
}
