.result {
  text-align: center;

  h3 {
    font-size: 24px;
    letter-spacing: 1.4px;
    text-align: center;
  }
  p {
    font-weight: 500;
    font-size: 15px;
  }
  span {
    color: $primary;
    font-size: 22px;
  }
}
