.dashboard {
  position: relative;
  width: 700px;
  background-color: #252d4a;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 4px;
  margin-top: 15px;
  padding: 30px 60px;
  box-sizing: border-box;
}
.footer-welcome {
  cursor: not-allowed;
  text-align: end;
  display: inline-flex;
  margin-left: 15px;
  margin-right: 5px;
  justify-content: flex-end;
}
p {
  margin: 15px;
}
.nameRq {
  margin-left: 5px;
}
